micronaut:
  application:
    name: send-surveys
  router:
    static-resources:
      default:
        enabled: true
        mapping: "/**"
        paths: "classpath:static"
  server:
      cors:
          enabled: true
root: src/main/resources

---
  datasources:
    default:
      url: ${JDBC_URL:`jdbc:postgresql://localhost:5432/pulsesurveydb`}
      driverClassName: org.postgresql.Driver
      username: postgres
      password: 'postgres'
      dialect: POSTGRES

  oci-google-drive:
    application:
      dir-key: "benefits"
      name: "OCI Surveys"
      scopes:
        - "https://www.googleapis.com/auth/drive.file"
        - "https://www.googleapis.com/auth/gmail.send"