<!doctype html>
<html>

<head>
  <title>Feelings, whoa, whoa, whoa, feelings</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <style>
    * {
      box-sizing: border-box;
    }

    .wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .question {
      padding: 1vh 2vw;
      font-size: 5vw;
      font-family: 'Roboto', Verdana, sans-serif;
      font-weight: 600;
      color: #2559a7;
      align-self: center;
    }

    .hero {
      display:flex;
      justify-content:center;
    }

    .hero img {
        width: 80%;
        height: auto;
    }

    .emoji-row {
      display: flex;
      padding: .5vw;
      justify-content: center;
      flex-direction: row;
    }

    .face {
      padding: 1vw;
      cursor: pointer;
    }

    .face img {
      width: 7vw;
    }
  </style>
</head>

<body>
  <div class="hero">
    <img alt="Hello!"
            src="https://objectcomputing.com/files/4415/8394/1744/mail.png" />
  </div>

  <div class="wrapper">
    <div class="question">How is your work day?</div>
    <div class="emoji-row">
      <div class="face">
        <a href="http://localhost:8080/happiness?currentEmotion=happy&surveyKey={{surveyKey}}">
          <img alt="I'm happy"
            src="https://objectcomputing.com/files/5415/8394/1622/happy.png" />
        </a>
      </div>

      <div class="face">
        <a href="http://localhost:8080/happiness?currentEmotion=frustrated&surveyKey={{surveyKey}}">
          <img alt="I'm frustrated/angry"
            src="https://objectcomputing.com/files/8415/8394/1588/frustrated.png" />
        </a>
      </div>

      <div class="face">
        <a href="http://localhost:8080/happiness?currentEmotion=weary&surveyKey={{surveyKey}}">
          <img alt="I'm weary"
            src="https://objectcomputing.com/files/8615/8394/1519/weary.png" />
        </a>
      </div>

      <div class="face">
        <a href="http://localhost:8080/happiness?currentEmotion=annoyed&surveyKey={{surveyKey}}">
          <img alt="I'm annoyed (eyeroll)"
            src="https://objectcomputing.com/files/8915/8394/1550/annoyed.png" />
        </a>
      </div>

      <div class="face">
        <a href="http://localhost:8080/happiness?currentEmotion=unamused&surveyKey={{surveyKey}}">
          <img alt="I'm unamused/suspicious"
            src="https://objectcomputing.com/files/4315/8394/1650/unamused.png" />
        </a>
      </div class="face">
    </div>
  </div>
</body>

</html>